<!-- Added CSS file-->
  <link rel='stylesheet' href='/stylesheets/main.css' />

<h4>Test Leagues</h4>


<div><button class="btn btn-lg btn-info btn-block" type="button" id="homeBtn">Home</button></div>

<ul id="leaguesList"></ul>

{{> scripts}}

<script src="/javascripts/leagues.js"></script>