<!-- Start of Nav -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navd">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
      aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="navLogIn">
          <a class="nav-link" href="/users/login">Log In</a>
        </li>

        <li class="nav-item" id="navReg">
          <a class="nav-link" href="/users/register">Register</a>
        </li>

        <li class="nav-item hidden" id="navAdmin">
          <a class="nav-link" href="/users/admin/">Admin</a>
        </li>

        <li class="nav-item hidden" id="navUpdate">
          <a class="nav-link" href="/users/update/">User Settings</a>
        </li>

        <li class="nav-item" id="navLogOut">
          <a class="nav-link" href="/users/logout">Log Out</a>
        </li>

      </ul>
    </div>
    <!-- End of Nav -->
  </nav>
